body{
    background-color: purple;
    color: black;

}

h1{
    color: greenyellow;
    text-align: center;
    margin-top: 26px;

}

form{
    text-align: center;
}

input[type=text], input[type=email], input[type=password], input[type=number], input[type=date], select{
    width: 40%;
    border: 1px solid #ccc;
    padding: 12px 20px;
    border-radius: 16px;
    margin-top: 16px;

}


.fundo_button{
    color :white
}


button{
    background-color: greenyellow;
    width: 20%;
    border: 1px solid #ccc;
    padding: 12px 20px;
    border-radius: 16px;
    
}

