/* Responsividade: */
/* Celular */
@media (min-width: 320px) and (max-width: 414px) {
    
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1280px) {
    
}

body{
    font-family: 'Franklin Gothic Medium';
    margin: 0 ;
  }
  header {
    background-color: #bc7c63;
  
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header img {
    width: 100px;
    height: auto;
  }
  
  header nav {
    display: flex;
    gap: 10px;
  }
  
  .pesquisa input{
    margin: auto; 
    display: flex;
    background-color: #ffffff;
    border-radius : 10px;
    cursor: text ;
    font-family: 'Franklin Gothic Medium';
    color: #A5152B;
    width: 97%;
    height: 34px;    
    padding-left: 5px;
    box-sizing: border-box;
    border: 1px solid #C27A64;
  }
  .pesquisa{
    margin-top: 15px;
    
  
  }
  
  
  
  header button {
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius : 10px;
    border: none;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium';
    color: #A5152B;
  }
  
  header button:hover {
    background-color: #f0f0f0;
  }
  
  .menu-container {
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    background-color: #bc7c63;
   
  }
  
  .menu {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium';
  }
  
  .menu:hover {
    color: #A5152B;
  }
  
  
  .promo-section picture img {
    max-width: 100%;
    width:1350px;
    height: auto;
    display: block;
    
  }
  
  .side-menu {
    margin: 20px 0;
    text-align: center;
  }
  
  .categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    background-color: white;
  }
  .category {
    width: 30%;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 20px;
    text-align:center;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  .category:nth-child(1) { background-color: #ED9374; }
  .category:nth-child(2) { background-color: #B1BE7B; }
  .category:nth-child(3) { background-color: #D66C9E; }
  .category:nth-child(4) { background-color: #BA414E; }
  .category:nth-child(5) { background-color: #B180C2; }
  .category:nth-child(6) { background-color: #7FAADD; }
  
  
  .categories div:hover {
    background-color:   #FDABA5;
    color: white;
  
  }
  
  footer {
    background-color: #bc7c63;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }
  
  img{
    height: 50px ; 
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
  }
  
  .footer-section a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  
