.content_table{
    width: 100%;
    display: flex;
    justify-content: center;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

tr{
    color: #A5152B;
} 

th{
    border: solid 1px #C27A64;
}