body{
    font-family: 'Franklin Gothic Medium';
    color: rgb(165, 21, 43);
    background-image: url(../view/img/kittydelivery.png);
    background-repeat: no-repeat;
    background-size: auto;
}
div{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 15%;
    left: 60%;    
    padding: 80px;
    border-radius: 50px;
}
input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
}
button{
    background-color: rgb(165, 21, 43);
    border: none;
    color: white;
    font-family: 'Franklin Gothic Medium';
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(235, 69, 69);
}
a{
    color: rgb(165, 21, 43);
}


/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1280px) {
    div {
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        padding: 60px;
        border-radius: 30px;
        width: 80%;
    }

    input {
        font-size: 16px;
        padding: 15px; 
        width: calc(100% - 20px);
    }

    button {
        padding: 18px;
        font-size: 18px;
    }
}
