body{
    font-family: 'Franklin Gothic Medium';
    color: rgb(165, 21, 43);
    background-image: url(../view/img/kittydelivery.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
div{
    background-color: #f5f2f0;
    position: absolute;
    top: 15%;
    left: 60%;    
    padding: 80px;
    border-radius: 50px;
}
input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
}

button{
    background-color:  #BA424E;
    border: none;
    color: white;
    font-family: 'Franklin Gothic Medium';
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(165, 21, 43);
}
a{
    color: rgb(165, 21, 43);
}


/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1280px) {
    div {
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        padding: 60px;
        border-radius: 30px;
        width: 80%;
    }

    input {
        font-size: 16px;
        padding: 15px; 
        width: calc(100% - 20px);
    }

    button {
        padding: 18px;
        font-size: 18px;
    }
}


  /* Estilos para celular. */
@media (min-width: 0px) and (max-width: 767px) {
    body {
        font-family: 'Franklin Gothic Medium';
        color: #532B36;
        background-image: url(../view/img/kittycadastro.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }

    div {
        display: grid;
        place-items: center;
        position: relative; 
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 70px;
        border-radius: 30px; 
        width: 100%;
        max-width: 300px; 
        background-color: #f5f2f0; 
    }

    h1 {
        font-size: 24px;
        text-align: center;
    }

    input {
        border:none;
        outline: none;
        font-size: 16px;
        width: calc(100% - 20px);
        padding: 16px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        transition: border-color 0.3s ease;
        box-sizing: border-box;
    }

    button {
        padding: 20px;
        font-size: 50%;
        padding: 10px 90px;
        border-radius: 70px;
        background-color: #BA424E;
    }
    button:hover{
        background-color:  rgb(165, 21, 43);
    }

    h5 {
        font-size: 14px; 
        text-align: center; 
    }

    a {
        color: #532B36; 
    }
}