<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Formulário</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/cadastro.css'>
    <script src='../script/cadastro.js'></script>
</head>
<body>
    <form>
        <h1>Crie sua conta</h1>
        
            <label for="name"></label><br>
            <input type="text" name="name" id="name" placeholder="Nome"/>
            <br><br>
            <label for="email"></label><br>
            <input type="email" name="email" id="email" placeholder="E-mail"/>
            <br><br>
            <label for="password"></label><br>
            <input type="password" name="password" id="password" placeholder="Senha"/>
            <br><br>
            <label for="cpf_cnpj"></label><br>
            <input type="text" name="cpf_cnpj" id="cpf_cnpj" placeholder="CPF ou CNPJ"/>
            <br><br>
            <label for="birthday"></label><br>
            <input type="date" name="birthday" id="birthday" placeholder="Data de Nascimento"/>
            <br><br>
            
            <label for="terms">Li e concordo com os <a href="termos.html">Termos de Uso</a>:</label>
        

        <div class="custom">
            <input type="checkbox" name="terms" id="terms"/>
        </div>
        <br><br>

        <input class="styled" type="button" value="Continuar" onclick="cadastrousuario()">
    </form>
</body>
</html>