<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kitty Delivery | Sign Up</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="../view/img/icone.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/cadastro.css">
    <script src="../js/cadastro.js"></script>
</head> 
    <body>
        <form>
            <h1>Crie sua conta</h1>
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name"/>
            <br><br>
    
            <label for="email">Email:</label>
            <input type="email" name="email" id="email"/>
            <br><br>

            <label for="password">Senha:</label>
            <input type="password" name="password" id="password"/>
            <br><br>

            <label for="cpf_cnpj">CPF/CNPJ:</label>
            <input type="text" name="cpf_cnpj" id="cpf_cnpj"/>
            <br><br>

            <label for="birthday">Data de nascimento:</label>
            <input type="date" name="birthday" id="birthday"/>
            <br><br>

            <label for="terms">Li e concordo com os <a href="termos.html">Termos de Uso</a>:</label>
            <custom>   
                <input type="checkbox" name="terms" id="terms"/>
            </custom>
            <br><br>
            
            <input class="butao" type="button" value="Cadastra-se" onclick= "cadastrousuario()"/>
            
        </form>
    </body>
</html>
