<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="view/img/icone.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/endereco.css" media="screen" /> 
</head>
<body>

    <form>
        <label for="name">Titulo do endereço</label>
        <input type="text">
        <br><br>

        <label for="cep">CEP</label>
        <input type="number">
        <br><br>

        <label for="endereco">Rua/Avenida</label>
        <input type="text">
        <br><br>

        <label for="number">Numero</label>
        <input type="number">
        <br><br>

        <label for="complemento">Complemento</label>
        <input type="text">
        
    </form>
</body>
</html>
