<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="img/icone.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/home.css" media="screen" /> 
</head>
<body>
    <header>
        <img src="img/kittydeliverytexto-removebg-preview.png" alt="Kitty Delivery">
        <nav>
           
            <a href=""><button>Cadastra</button></a>
        </nav>
    </header>
    <div class = "pesquisa">
        <input type="text" placeholder="encontrar restaurantes...">
    </div>

    <div class="menu-container"> 
        <a href="#" class="menu">Home</a>
        <a href="#" class="menu">Doces</a>  
        <a href="#" class="menu">Lanches</a>  
        <a href="#" class="menu">Japonesa</a>  
        <a href="#" class="menu">Coreana</a>  
        <a href="view/visite.html" class="menu">Visite</a>
    </div>

    <main>
        <section class="promo-section">
            <picture>
                <!-- <source media="(max-width: 600px)" srcset="img/img1.jpeg" type="image/jpeg">
                <source media="(max-width: 800px)" srcset="img/img1.jpeg" type="image/jpeg"> -->

                <div class="promoImage">
                    <img src="img/image 6.png" alt="Imagem flexível">
                </div>
            </picture>

            <div class="categories">
                <a href="#" class="category">PROMOÇÕES</a>
                <a href="#" class="category">MERCADO</a>
                <a href="#" class="category">FAVORITOS</a>
                <a href="#" class="category">ENTREGAS GRATIS</a>
                <a href="#" class="category">KITTY TURBO</a>
                <a href="#" class="category">CLUB KITTY</a>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer">
            <div>
                <a href="#">KITTY DELIVERY</a>
                <a href="#">fale conosco</a>
                <a href="#">sobre nós</a>
            </div>
            <div>
                <a href="#">SOCIAL</a>
                <a href="#">bluesky</a>
                <a href="#">instagram</a>
            </div>
            <div class="logo">
                <img src="img/icone.png" alt="sushi">
            </div>
            <div>
                <a href="#">termos e condições de uso</a>
                <a href="#">política de privacidade</a>
            </div>
        </div>
    </footer>
</body>
</html>
