<link rel="shortcut icon" href="img/icone.png" type="image/x-icon">
</html>
    <head>
        <title></title>
        <script src="../script/home.js"></script>    
        <link rel="stylesheet" type="text/css" href="../css/index.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../css/home.css" media="screen" /> 
      
    </head>
    <body>
        <header>
            <img src="img/logo.png" alt=""> 
            <ul>
                <li><a href="cadastro.html">Cadastro</li></a>
            </ul>
        </header>
        <section class="form">
            <h1 style="text-align: center;">Home </h1>
            <h1 style="text-align: center;">Cadastro de endereço</h1>
            <div>
                <form>
                   
                 
                    <input type="button" value="Cadastrar seu endereço" onclick="window.location.href='endereco.html';">


                </form>
            </div>

        </section>

        <script src="../script/login.js"></script>

    </body>
</html>

   </body>
</html>

