<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de endereços</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
     crossorigin="anonymous">
</head> -->
<link rel="stylesheet" href="../css/lista.css">
<link rel="stylesheet" href="../css/index.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<body>
    <header>
        <img src="img/kittydeliverytexto-removebg-preview.png" alt="Kitty Delivery">
        <nav>
            <!-- <a href="login.html"><button>Entrar</button></a> -->
            <a href="endereco.html"><button>Cadastrar Endereço</button></a>
        </nav>
    </header>
    <div class = "pesquisa">
        <input type="text" placeholder="encontrar restaurantes...">
    </div>

    <div class="menu-container"> 
        <a href="#" class="menu">Home</a>
        <a href="home.html" class="menu">Doces</a>  
        <a href="#" class="menu">Lanches</a>  
        <a href="#" class="menu">Japonesa</a>  
        <a href="#" class="menu">Coreana</a>  
        <a href="view/visite.html" class="menu">Visite</a>
    </div>
    
    <!-- <div class="container mt-5">
        <div class="box">
            <span id="message" class="text-danger"></span>
            <form action="">
                <div class="mb-3">
                    <label for="cep" class="form-label">CEP</label>
                    <input type="text" id="cep" placeholder="Digite o CEP" class="form-control">
                </div>
            </form> -->

            <div class="content_table">
                <table id="tabela-usuarios" class="table table-striped mt-4" style="width: 85%;">
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Cep</th>
                            <th>Endereço</th>
                            <th>Numero</th>
                            <th>Complemento</th>
                            <th>Atualizar</th>
                            <th>Deletar</th>
                        </tr>
                    </thead>
                    <tbody>
                      <!-- Dados inseridos via script -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="ModalAtt" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Atualizar Endereço</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="formsModal" style="display: flex; flex-direction: column;">
                    <input type="hidden" id="modalIdEndereco">
                    <label for="title">Titulo</label>
                    <input type="text" id="ModalTitulo" name="title" placeholder="Titulo" class="form-control"/>
                    <br>
                    <label for="cep">Cep</label>
                    <input type="text" id="ModalCep" name="cep" placeholder="Cep" class="form-control"/>
                    <br>
                    <label for="address">Endereço</label>
                    <input type="text" id="ModalAddress" name="address" placeholder="Endereço" class="form-control"/>
                    <br>
                    <label for="number">Numero</label>
                    <input type="text" id="ModalNumber" name="number" placeholder="Numero" class="form-control"/>
                    <br>
                    <label for="complement">Complemento</label>
                    <input type="text" id="ModalComplement" name="number" placeholder="Complement" class="form-control"/>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" onclick="atualizarEndereco()">Atualizar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="ModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir Endereço</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir este endereço?</p>
                    <input type="hidden" id="modalIdDelete">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" onclick="deletarEndereco()">Excluir</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir Endereço</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir este endereço?</p>
                    <input type="hidden" id="modalIdDelete">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" onclick="deletarEndereco()">Excluir</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/lista.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="jquery-3.6.0.min.js"></script>
</body>
</html>
