<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kitty Delivery | Sign In</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="img/icone.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/login.css">
    <script src="../script/login.js"></script>
</head>
<body>
    <div>
        <h1>Login</h1>
        <input type="email" placeholder="Email"/>
        <br><br>

        <input type="password" placeholder="Senha"/>
        <br><br>

        <a href="home.html"><button>Entrar</button></a>
        <h5>Não possui conta? <a href="cadastro.html">Registre-se</a ></h5>
        <h5><a href="">Esqueceu a senha?</a></h5>
    </div>
</body>
</html>
