<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="shortcut icon" href="../view/img/icone.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="../css/home.css" media="screen" /> 
    </head>
<body>
    <header>
        <img src="img/kittydeliverytexto-removebg-preview.png" alt="Kitty Delivery">
        <nav>
            <a href="login.html"><button>Entrar</button></a>
            <a href="cadastro.html"><button>Cadastrar</button></a>
        </nav>
    </header>
    <div class = "pesquisa">
        <input type="text" placeholder="encontrar restaurantes...">
    </div>
    <div class="menu-container"> 
        <a href="../index.html" class="menu">Home</a>
        <a href="#" class="menu">Doces</a>  
        <a href="#" class="menu">Lanches</a>  
        <a href="#" class="menu">Japonesa</a>  
        <a href="#" class="menu">Coreana</a>  
        <a href="#" class="menu">Visite</a>
        <a href="lista.html" class="menu">Endereço</a>
    </div>

    <div class="qrCode">
        <h2>Teste o site também!</h2>
        <img src="img/frame.png" alt="">
    </div>

    <footer>
        <div class="footer">
            <div>
                <a href="#">KITTY DELIVERY</a>
                <a href="#">fale conosco</a>
                <a href="#">sobre nós</a>
            </div>
            <div>
                <a href="#">SOCIAL</a>
                <a href="#">bluesky</a>
                <a href="#">instagram</a>
            </div>
            <div class="logo">
                <img src="img/icone.png" alt="sushi">
            </div>
            <div>
                <a href="#">termos e condições de uso</a>
                <a href="#">política de privacidade</a>
            </div>
        </div>
    </footer>
</body>
</html>